.absolute, #mf-player-wireframe #mf-buffer {
  position: absolute; }

.relative, #player-wrapper, #player-wrapper .c-wrapper, #player-wrapper ul li .splitter, #mf-player-wireframe #mf-song-progress, #mf-player-wireframe #mf-progress {
  position: relative; }

.fixed {
  position: fixed; }

.text-overflow, #player-wrapper ul li .artist, #player-wrapper ul li .title {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden; }

.hide-opacity {
  opacity: 0 !important; }

.show-opacity {
  opacity: 1 !important; }

* {
  padding: 0;
  margin: 0;
  outline: none;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -moz-appearance: none;
  -ms-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  -webkit-user-select: none;
  user-select: none; }

::-webkit-scrollbar {
  width: 7px;
  background: transparent !important; }

::-webkit-scrollbar-button {
  display: none; }

::-webkit-scrollbar-track-piece {
  background: transparent !important; }

::-webkit-scrollbar-thumb {
  background: #DAE1E8;
  border: 1px solid #fff; }

::-webkit-scrollbar-thumb:hover {
  background: #BEC8D3; }

::-webkit-scrollbar-track-piece:start {
  background: transparent !important; }

::-webkit-scrollbar-track-piece:end {
  background: transparent !important; }

body {
  background: #fff;
  font: normal 11px Tahoma, Arial, Helvetica, sans-serif; }

#wrapper {
  min-width: 300px;
  min-height: 300px; }
  #wrapper #auth-block {
    text-align: center;
    line-height: 65px;
    padding: 0 5px;
    width: 185px;
    height: 65px; }
    #wrapper #auth-block button {
      -webkit-transition: all 200ms cubic-bezier(0, 0, 0.58, 1);
      -moz-transition: all 200ms cubic-bezier(0, 0, 0.58, 1);
      -o-transition: all 200ms cubic-bezier(0, 0, 0.58, 1);
      transition: all 200ms cubic-bezier(0, 0, 0.58, 1);
      -webkit-transition-timing-function: cubic-bezier(0, 0, 0.58, 1);
      -moz-transition-timing-function: cubic-bezier(0, 0, 0.58, 1);
      -o-transition-timing-function: cubic-bezier(0, 0, 0.58, 1);
      transition-timing-function: cubic-bezier(0, 0, 0.58, 1);
      padding: 10px;
      width: 100%;
      background: #3498db;
      color: #fff;
      border: none;
      border-radius: 4px;
      font-size: 13px;
      text-transform: uppercase;
      text-shadow: 0 1px 1px #1460A8;
      box-shadow: 0 1px 1px #2268B4; }
      #wrapper #auth-block button:hover {
        background: #49B6FF;
        box-shadow: 0 1px 1px #619CDD; }

#player-wrapper {
  background: #fff;
  border: 1px solid #DCDDDF;
  overflow: hidden;
  min-width: 300px;
  min-height: 200px;
  max-height: 590px;
  width: 360px;
  border-radius: 2px 2px 0 0; }
  #player-wrapper .c-size, #player-wrapper .c-wrapper #controls, #player-wrapper .c-wrapper #controls .layer {
    width: 360px;
    height: 50px; }
  #player-wrapper .c-wrapper {
    width: 360px;
    z-index: 200; }
    #player-wrapper .c-wrapper #controls {
      box-shadow: 0 0px 3px rgba(0, 0, 0, 0.55); }
      #player-wrapper .c-wrapper #controls .layer {
        background: #F0F1F2; }
  #player-wrapper ul {
    margin: 0;
    padding: 5px 0px 5px 7px;
    overflow-y: auto;
    max-height: 540px; }
    #player-wrapper ul li {
      cursor: pointer;
      height: 32px;
      line-height: 32px;
      list-style: none;
      padding: 0 9px;
      color: #2B587A;
      width: 100%; }
      #player-wrapper ul li span {
        display: block;
        float: left; }
      #player-wrapper ul li .artist {
        font-weight: bold;
        max-width: 125px; }
      #player-wrapper ul li .splitter {
        background: #2B587A;
        top: 16px;
        margin: 0 4px;
        width: 8px;
        height: 1px; }
      #player-wrapper ul li .title {
        max-width: 150px; }
      #player-wrapper ul li .duration {
        color: #777;
        float: right; }
      #player-wrapper ul li:hover {
        background: #edf1f5; }
      #player-wrapper ul li.active {
        background: #5f7fa2;
        color: #fff; }
        #player-wrapper ul li.active .duration {
          color: #fff; }
        #player-wrapper ul li.active .splitter {
          background: #fff; }

#mf-player-wireframe .buttons {
  background: url(../images/audio_icons_2x.png) no-repeat scroll; }
#mf-player-wireframe #mf-play {
  background-position: 0 -25px;
  background-size: 257px 63px;
  height: 22px;
  width: 22px; }
  #mf-player-wireframe #mf-play:hover {
    background-position: -24px -25px; }
  #mf-player-wireframe #mf-play:active {
    background-position: -48px -25px; }
  #mf-player-wireframe #mf-play.pause {
    background-position: -72px -25px; }
  #mf-player-wireframe #mf-play.pause:active {
    background-position: -120px -25px; }
#mf-player-wireframe #mf-song-progress {
  background: #D8DEE4;
  border-radius: 10px; }
#mf-player-wireframe #mf-progress {
  -webkit-transition: all 250ms cubic-bezier(0.165, 0.84, 0.44, 1);
  -moz-transition: all 250ms cubic-bezier(0.165, 0.84, 0.44, 1);
  -o-transition: all 250ms cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 250ms cubic-bezier(0.165, 0.84, 0.44, 1);
  -webkit-transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  -moz-transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  -o-transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  background: #5c7a99;
  border-radius: 10px;
  cursor: default;
  height: 4px;
  width: 0;
  z-index: 100; }
#mf-player-wireframe #mf-buffer {
  -webkit-transition: all 250ms cubic-bezier(0.165, 0.84, 0.44, 1);
  -moz-transition: all 250ms cubic-bezier(0.165, 0.84, 0.44, 1);
  -o-transition: all 250ms cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 250ms cubic-bezier(0.165, 0.84, 0.44, 1);
  -webkit-transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  -moz-transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  -o-transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  background: #bac7d4;
  border-radius: 10px;
  top: 0;
  height: 4px;
  width: 0;
  z-index: 90; }
