<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link href="../css/style.css" rel="stylesheet" type="text/css"/>
    <script src="../lib/VKit.js" type="text/javascript"></script>
    <script src="../lib/chromeLocale.js" type="text/javascript"></script>
    <script src="../core/MFPlayerBG.js" type="text/javascript"></script>
    <script src="../core/background.js" type="text/javascript"></script>
</head>
<body>
<div id="main">
    <div id="wrapper">
        <div id="auth-block">
            <div id="vk-logo"></div>
            <button id="vk-auth" class="regular-button" i18n-locale="auth"></button>
        </div>
        <div id="player-wrapper">
            <div class="c-wrapper">
                <div id="controls">
                    <div id="player-bound" class="layer">
                        <div id="mf-player-wireframe">
                            <div class="play-buttons">
                                <div id="mf-play" class="buttons"></div>
                                <div id="mf-prev" class="buttons"></div>
                                <div id="mf-next" class="buttons"></div>
                            </div>
                            <div id="song-info">
                                <span id="mf-artist"></span>
                                <span class="splitter"></span>
                                <span id="mf-title"></span>
                            </div>
                            <div id="mf-song-progress" class="song-progress">
                                <div class="bg-progress">
                                    <div id="mf-progress">
                                        <div class="circle-button"></div>
                                    </div>
                                    <div id="mf-buffer"></div>
                                </div>
                            </div>
                            <div class="song-time">
                                <span id="mf-current-time">0:00</span>
                                <span id="mf-duration">0:00</span>
                            </div>
                            <div id="mf-volume-wrapper">
                                <div id="mf-volume-line"></div>
                                <div class="volume-bg"></div>
                                <input id="mf-volume" type="range" min="0" max="100" value="100"/>
                            </div>
                            <div id="repeat-song" title="" i18n-locale="repeatSong" i18n-title="repeatSong"></div>
                            <div id="shuffle-play" i18n-title="shuffle"></div>
                            <div id="broadcast" i18n-title="broadcastSong"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="search-wrapper">
                <div class="search-input">
                    <input type="text" id="search" value="" placeholder="" i18n-placeholder="search"/>
                    <i id="empty-search" class="fa fa-times"></i>
                </div>
                <div class="search-configs">
                    <div id="open-search-settings" i18n-locale="settings"></div>
                    <div id="search-settings">
                        <div id="song-search-type" class="search-select-type">
                            <div id="song-search-default-type" class="select-default-value"></div>
                            <div id="song-types-list" class="types-list">
                                <div class="option" i18n-locale="byCompositor" i18n-title="byCompositor" data-index="0" data-value="1"></div>
                                <div class="option" i18n-locale="bySongName" i18n-title="bySongName" data-index="1" data-value="0"></div>
                            </div>
                        </div>

                        <div id="audio-search-type" class="search-select-type">
                            <div id="search-default-type" class="select-default-value"></div>
                            <div id="types-list" class="types-list">
                                <div class="option" i18n-locale="byPopular" i18n-title="byPopular" data-index="0" data-value="2"></div>
                                <div class="option" i18n-locale="byDuration" i18n-title="byDuration" data-index="1" data-value="1"></div>
                            </div>
                        </div>
                        <div id="lyrics-checkbox-wrapper">
                            <input type="checkbox" id="lyrics"/>
                            <span class="checkbox"><span class="arrow"></span></span>
                            <label for="lyrics" i18n-locale="onlyText"></label>
                            <div class="click-overlay" i18n-title="onlyText"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="ajax-content-loader"><div class="lines"><div class="element"></div><div class="element"></div><div class="element"></div><div class="element"></div><div class="element"></div></div></div>
            <div id="songs-list"></div>
        </div>
        <div id="empty-list" i18n-locale="noSongs"></div>
    </div>
    <div id="app-nav-block" class="app-nav">
        <div id="regular-buttons" class="regular-buttons">
            <button id="change-user" class="rb-1">
                <div id="all-users"></div>
                <div id="current-user"></div>
            </button>
            <button id="albums" class="rb-1">
                <div id="album-list"></div>
                <div id="album-title" i18n-locale="albums"></div>
            </button>
        </div>
        <div class="icon-buttons">
            <div id="update-list" class="fa fa-repeat" i18n-title="update"></div>
            <div id="settings" class="fa fa-cog" i18n-title="settings"></div>
        </div>
    </div>
    <div id="bg-overlay">
        <div id="overlay-txt" class="overlay-txt" i18n-locale="updating"></div>
    </div>
</div>
</body>
</html>