<!DOCTYPE html>
<html>
<head>
    <title>Settings / VK Music Player</title>
    <link href="../css/settings.css" rel="stylesheet" type="text/css"/>
    <script src="../lib/chromeLocale.js" type="text/javascript"></script>
    <script src="../lib/VKit.js" type="text/javascript"></script>
    <script src="../core/settings.js" type="text/javascript"></script>
</head>
<body>
<div id="wrapper">
    <div id="title">
        <div class="page-name" i18n-locale="settings"></div>
        <div class="splitter">/</div>
        <div class="app-name" i18n-locale="appName"></div>
    </div>

    <div id="content">
        <div class="sub-title" i18n-locale="accounts"></div>
        <div class="title-buttons">
            <button id="add-acc" class="regular-button" i18n-locale="addUser"></button>
            <button id="add-group" class="regular-button" i18n-locale="addGroup"></button>
        </div>
        <div id="accounts-block"></div>

        <div class="sub-title" i18n-locale="commonSettings"></div>
        <div id="common-settings">
            <div class="set-line">
                <input id="show-songs-number" type="checkbox"/>
                <label i18n-locale="showNumberOfSongs" for="show-songs-number"></label>
            </div>
            <div class="set-line">
                <input id="show-song-duration" type="checkbox" i18n-value="showSongDurationOnBadge"/>
                <label i18n-locale="showSongDurationOnBadge" for="show-song-duration"></label>
            </div>
        </div>
        <div class="sub-title" i18n-locale="hotKeys"></div>
        <div id="hot-keys" class="txt-block">

        </div>
    </div>
</div>
</div>
<div id="developer">
    <span i18n-locale="developedBy"></span><a href="https://vk.com/smokeelow" target="_blank" i18n-locale="author"></a>
</div>
<div id="bg-overlay"></div>
<div id="modal-window">
    <div id="modal-title"></div>
    <div id="modal-content"></div>
</div>
</body>
</html>