@import "skit";

* {
  padding: 0;
  margin: 0;
  outline: none;
  @include box-sizing(border-box);
  //  @include appearance(none);
}

html {
  height: 100%;
}

body {
  font: normal 11px tahoma, arial, verdana, sans-serif, Lucida Sans;
  min-height: 100%;
}

input {
  background: #FFF;
  color: #000;
  border: 1px solid #C3CBD4;
  padding: 3px;
  font: normal 11px tahoma, arial, verdana, sans-serif, Lucida Sans;
}

button {
  font: normal 11px tahoma, arial, verdana, sans-serif, Lucida Sans;
}

a {
  color: #2B587A;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

#wrapper {
  @extend .relative;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.22);
  border: 1px solid #D9E0E7;
  border-width: 0 1px;
  margin: 0 auto 20px;
  min-height: 500px;
  height: 100%;
  width: 627px;

  #title {
    background: #fff;
    border-bottom: solid 1px #597DA3;
    height: 35px;
    line-height: 35px;
    font-size: 13px;
    padding: 0 10px;

    div {
      float: left;
    }

    .page-name, {
      color: #36638A;
      font-weight: bold;
    }

    .splitter, .app-name {
      color: #777;
    }

    .splitter {
      margin: 0 5px;
    }
  }

  .sub-title {
    font-weight: bold;
    font-size: 11px;
    padding: 7px 10px;
    line-height: 140%;
    background: #E9EDF1;
    color: #607387;
  }

  #accounts-block {
    @extend .relative;

    .info:last-child {
      border-bottom: none;
    }
  }

  .title-buttons {
    border-bottom: 1px solid #DAE1E8;
    padding: 5px 10px;
    text-align: right;
  }
}

.regular-button {
  background: #6383a8;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  text-shadow: 0 1px 0 #5578A0;
  padding: 6px 16px;
  color: #fff;
  font: normal 11px tahoma, arial, verdana, sans-serif, Lucida Sans;

  &:hover {
    background: #6d8cb0;
  }

  &:active {
    background: #5c7ca1;
  }
}

.info {
  @extend .relative;
  border-bottom: 1px solid #ededed;
  margin: 10px 15px;
  height: 120px;

  div {
    @extend .absolute;
  }

  img {
    height: 100px;
    width: 100px;
  }

  .user-name {
    top: 5px;
    left: 115px;
    color: #2B587A;
    font-weight: bold;
  }

  .active, .not-active {
    top: 20px;
    left: 115px
  }

  .active {
    color: #65bd10;
  }

  .not-active {
    color: #BBB;
  }

  .delete-user {
    @extend .absolute;
    right: 0;
    top: 38px;
  }

  .delete-user, .activate {
    width: 100px;
  }

  .activate, .top-button {
    @extend .absolute;
    top: 7px;
    right: 0;
  }

  .its-you {
    @extend .absolute;
    top: 35px;
    left: 115px;
    color: #bbb;
  }

  &:last-child {
    border-bottom: none;
  }
}

.info:last-child {
  border-bottom: none;
}

.not-found {
  text-align: center;
  margin: 20px 0;
  font-weight: bold;
  font-size: 13px;
}

.bottom-buttons {
  @extend .absolute;
  bottom: 0;
  left: 0;
  background-color: #F2F2F2;
  border-top: 1px solid #DAE1E8;
  line-height: 40px;
  padding: 0 10px;
  text-align: right;
  height: 40px;
  width: 100%;
}

.already-exists {
  text-align: center;
  width: 100%;
  margin: 20px 0;
  font-size: 13px;
}

#bg-overlay {
  @extend .fixed;
  background: #000;
  opacity: 0.7;
  display: none;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 200;
}

#modal-window {
  @extend .fixed;
  display: none;
  background: #fff;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.35);
  top: 10%;
  left: 50%;
  margin: 0 0 0 -300px;
  height: 255px;
  width: 600px;
  z-index: 300;

  #modal-title {
    font-size: 11px;
    font-weight: bold;
    color: #45688E;
    padding: 10px;
  }

  #modal-content {
    margin: 5px 0;
    padding: 0 10px;
  }

  .user-find {
    padding: 0 10px;
    line-height: 30px;
    height: 30px;
    width: 100%;

    &.searching {
      background: url(/images/preloader.GIF) 99% center no-repeat;
      background-size: 15px;
    }
  }
}

#developer {
  text-align: center;
  margin: 10px 0 20px;

  a {
    margin: 0 0 0 5px;
  }
}

#hot-keys {
  .keys-pair {
    padding: 10px;
    border-left: 9px solid #C9D8DF;;
    background-color: #F5F7F8;
    margin: 10px;
    height: 34px;

    .splitter {
      @extend .relative;
      background: #000;
      margin: 0 10px;
      top: 7px;
      height: 1px;
      width: 5px;
    }

    .keys {
      font-weight: bold;
    }

    span {
      display: block;
      float: left;
    }
  }
}

.simple-text {
  margin: 10px;
}

#common-settings {
  .set-line {
    border: solid #B9C4DA;
    border-width: 1px 0;
    margin-bottom: -1px;
    padding:15px;

    input[type="checkbox"] {
      @extend .relative;
      top:3px;
      margin: 0 10px 0 0;
    }
  }
}